@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --hamen-background-color-primary: hsl(0, 0%, 98%);
    --hamen-background-color-default: hsl(0, 0%, 96%);
    --hamen-background-color-secondary: hsl(0, 0%, 94%);

    --hamen-font-size-normal: calc(14px * var(--hamen-font-size-multiplier));
    --hamen-font-size-sub: calc(13px * var(--hamen-font-size-multiplier));

    --hamen-text-color-light: hsl(0, 0%, 60%);
    --hamen-text-color-normal: hsl(0, 0%, 40%);
    --hamen-text-color-bold: hsl(0, 0%, 30%);

    --hamen-border-color-primary: rgba(0, 0, 0, 0.12);
    --hamen-border-color-normal: rgba(0, 0, 0, 0.06);
    --hamen-border-color-secondary: rgba(0, 0, 0, 0.03);
    --selection-color: hsl(218, 100%, 87%);
}

:root[is-dark-mode=true] {
    --hamen-background-color-primary: hsl(0, 0%, 10%);
    --hamen-background-color-default: hsl(0, 0%, 13%);
    --hamen-background-color-secondary: hsl(0, 0%, 15%);

    --hamen-font-size-normal: calc(14px * var(--hamen-font-size-multiplier));
    --hamen-font-size-sub: calc(13px * var(--hamen-font-size-multiplier));

    --hamen-text-color-light: hsl(0, 0%, 60%);
    --hamen-text-color-normal: hsl(0, 0%, 70%);
    --hamen-text-color-bold: hsl(0, 0%, 85%);

    --hamen-border-color-primary: rgba(255, 255, 255, 0.12);
    --hamen-border-color-normal: rgba(255, 255, 255, 0.05);
    --selection-color: hsl(0, 0%, 20%);
    --hamen-border-color-secondary: rgba(255, 255, 255, 0.03);
}

h1 {
    font-size: 2.5em;
}

:root,
:root[is-dark-mode=true] {
    --hamen-font-size-multiplier: 1px;
}

::selection {
    background-color: var(--selection-color);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    color: var(--hamen-text-color-normal);
    background-color: var(--hamen-background-color-default);
}

span,a,p,input,select,option,textarea,label {
    font-size: var(--hamen-font-size-normal);
    font-family: 'Raleway', sans-serif;
}

input,select,option,textarea {
    background-color: var(--hamen-background-color-secondary);
    font-size: var(--hamen-font-size-sub);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--hamen-text-color-bold);
    font-family: 'MuseoModerno', cursive;
}

a {
    font-weight: 600;
    text-decoration: none;
    transition: .1s;
    color: hsl(220, 97%, 62%)
}

a:hover {
    color: hsl(220, 97%, 73%)
}

a:active {
    color: hsl(220, 97%, 53%)
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 2.5em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: var(--hamen-text-color-bold);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

body>footer {
    padding: 12px;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    background: var(--hamen-background-color-secondary);
    border-top: 1px solid var(--hamen-border-color-normal);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

body>footer span,
body>footer a {
    font-size: var(--hamen-font-size-sub);
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body>main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
}

label {
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 18em;
    max-width: 18em;
    min-width: 18em;
}

select,input {
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--hamen-border-color-normal);
    color: var(--hamen-text-color-normal);
    padding: 4px 8px;
    cursor: pointer;
    width: 226px;
    max-width: 226px;
    min-width: 226px;
}

input {
    box-sizing: border-box;
    margin: 0;
    font-size: var(--hamen-font-size-normal);
    cursor: text
}

input[type=number] {
    text-align: center;
}

button,
input {
    user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hamburger>svg {
    position: absolute;
    right: 2.9em;
    z-index: 7;
    top: 2.9em;
}

/* .hamburger */

#settings-menu {
    width: 40em;
    min-width: 30vw;
    max-width: 60em;
    height: 100vh;
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    background: var(--hamen-background-color-primary);
    transform: translate(100%);
    border-left: 1px solid var(--hamen-border-color-normal);
    transition: 0.4s;
    padding: 3.7em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#settings-menu.toggled {
    transform: translate(0%);
}

hr {
    width: 100%;
    border-color: var(--hamen-border-color-secondary);
    margin-top: 2em;
    margin-bottom: 2em;
}

#settings-menu>label {
    margin-bottom: 1em;
}

h2 {
    font-size: 24px;
    margin: 0;
}

#body-blocker {
    pointer-events: none;
    opacity: 0%;
    transition: 0.4s;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
}

#body-blocker.visible {
    pointer-events: all;
    opacity: 100%;
}

body>main {
    justify-content: center;
    gap: 0;
    align-items: center;
}

body>main h1 {
    margin-bottom: 1em;
    font-size: 24px;
}

body>main svg {
    user-select: none;
    cursor: pointer;
    transform: scale(0.95);
}

input#search {
    border-radius: 0;
    border: 0;
    border: 1px solid var(--hamen-border-color-normal);
    border-right: 0;
    padding: 12px 16px;
    width: 40em;
    min-width: 20em;
    max-width: 90vw;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

input#search.focus {
    border-bottom-left-radius: 0;
}

input#search.focus+button#search-go {
    border-bottom-right-radius: 0;
}

button#search-go {
    border: 0;
    border-radius: 0;
    padding: 0 16px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: var(--hamen-text-color-normal);
    cursor: pointer;
    background: var(--hamen-background-color-secondary);
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid var(--hamen-border-color-normal);
}

button#search-go>span {
    font-size: 20px
}

.search {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.search-wrapper {
    width: 100%;
    display: flex;
    border: 0
}

#search-suggestions-container {
    position: relative;
    width: 100%;
    z-index: 3;
}

#search-suggestions {
    background-color: var(--hamen-background-color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    width: calc(100% - 2px);
    position: absolute;
    /* padding-bottom: 16px; */
    border: 1px solid var(--hamen-border-color-normal);
    border-top: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    overflow: hidden;
    border-top-right-radius: 0;
}

#search-suggestions.hidden {
    display: none;
}

#search-suggestions>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: var(--hamen-font-size-normal)
}

#search-suggestions li {
    user-select: none;
    cursor: pointer;
    padding: 8px 16px;
    box-sizing: border-box;
}

#search-suggestions li.hover {
    background-color: var(--hamen-background-color-primary)
}

#search-suggestions li.active {
    background-color: var(--hamen-background-color-default)
}

#search-suggestions .sub-text {
    font-style: italic;
}

#target {
    text-decoration: underline;
}
